---
---
//@import "font-awesome/font-awesome";
@import "fonts";
@import "normalize";
@import "susy";
@import "vendor/plumber";
@import "breakpoint";
@import "base";
//@import "plugins/svg-grid";
//@import "baseline-grid";
@import "structure";
@import "style";
@import "nav";
@import "code";


.main-section {
  //@include baseline-grid();
  padding-bottom: 2rem;
  padding-top:  2rem;
}
.site-width {
   //background: susy-svg-grid() no-repeat scroll;
}


html {
  // set font size for responsive type
  font-size: $base-font-size;
  background-color: darkgray;
}

body {
  font-family: $body-font;
  text-rendering: optimizeLegibility;
}

.outerspace {
  background-color: white;
}


/*
* in progress
*/




/*
*  Juniper studio
*/

.kclibrary {
  background-color: #337ab4;
  min-height: 100vh;
  background-image: url("/images/kclibrary_icons.png");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right 0 bottom -100px;
  .lib-content {
    min-height: 100vh;
    @include breakpoint($phone) {
      margin-bottom: 7rem;
    }
  }
  h1 {
    letter-spacing: 12px;
  }
  .two-things {
    min-height: 80vh;
    align-items: center;
    @include breakpoint($phone) {
      align-items: baseline;
    }
    @include breakpoint($tween) {
      align-items: baseline;
    }
  }
  .first-thing, .second-thing {

  }
  align-items: center;
}

.compost-hero {
  background-color: #86b622;
  min-height: 100vh;
  background-image: url("/images/sun-graphic-compost-hero-full.png");
  background-position: center bottom;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 4rem;
  img {
    width: 100%;
  }
  .callout {
    background: rgba(255, 255, 255, .9);
    margin: auto;
    margin-top: 5rem;
    padding: 2rem;
    border: 2px solid;
    border-radius: 25px;
    border-color: $gray-5;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    color: $theme-tint;
    text-align: center;
  }
}

.brand-statement {
  color: $gray-5;
  line-height: 3rem;
  @include breakpoint($phone) {
    line-height: 2rem;
  }
}

.pager {
  position: absolute;
  z-index: 100;
  bottom: 2rem;
  right: 0;
  text-align: center;
  img {
  }
  .arrow {
    background-color: $pink;
    display: block;
    border-radius: 55px;
    width: 100px;
    margin-left: auto;
    margin-right: 5vh;
    padding: 5px;
    span {
      background-color: $pink;
      border: solid 4px white;
      display: block;
      border-radius: 50px;
      width: 90px;
      margin-left: auto;
      margin-right: 5vh;
      padding: 1rem;
    }
  }
}

.pink {
  color: $pink;
}

.hidden {
  display: none;
}

footer {
  background-color: $pink;
  min-height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    color: white;
  }
}

header {
  //background-image: url("/images/img.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: $base-grid-height;
  background-color: black;
  padding: 2rem 5rem;
  padding-top: 10rem;
  h1.hero {
    margin: 0px !important;
    padding: 0px;
    border-bottom: solid 1px $theme-color;
    text-align: center;
    @include plumber(
            $grid-height: $base-grid-height,
            $baseline: .9,
            $font-size: 10,
            $line-height: 3,
            $leading-top: 4,
            $leading-bottom: 1
    );
    @include breakpoint($phone) {
      @include plumber(
              $grid-height: $base-grid-height,
              $baseline: .1,
              $font-size: 5,
              $line-height: 3,
              $leading-top: 4,
              $leading-bottom: 1
      );
      padding-bottom: 0;
      font-size: 12vw;
    }
    @include breakpoint($tween) {
      @include plumber(
              $font-size: 7.25,
              $line-height: 1
      );
      padding-top: 1rem;
    }
    .juniper {
     font-family: opensans_light;
    }
    .studio {
      font-family: "Helvetica";
      font-weight: bold;
      color: white;
      a {
        color: white;
      }
    }
    a {
      color: $pink;
      &:hover {
        text-decoration: none;
      }
    }
  }
  @include breakpoint($phone) {
    padding-top: 2rem;
    padding-bottom: 0rem;
  }
}

.gallery {
  min-height: 100vh;
  background-color: #fbfbfb;
  padding: 5rem 2rem;
  text-align: center;
  .grid {
    align-items: center;
  }
  align-items: center;
}

.footer-contact-us {
  overflow: hidden;
  font-family: latohairline;
  padding-bottom: 2rem;
  @include breakpoint($phone) {
    font-family: latoregular;
  }

  h1 {
    font-family: latohairline;
    @include plumber(
            $grid-height: $base-grid-height,
            $baseline: $headline-baseline, // https://jamonserrano.github.io/plumber-sass/baselines/
            $font-size: 14.06,
            $line-height: 12,
            $leading-top: 4,
            $leading-bottom: 1
    );
    @include breakpoint($phone) {
      font-family: latolight;
      @include plumber(
              $grid-height: $base-grid-height,
              $baseline: $headline-baseline,
              $font-size: 3,
              $line-height: 3,
              $leading-top: 6,
              $leading-bottom: 1
      );
    }
    @include breakpoint($tween) {
      @include plumber(
              $grid-height: $base-grid-height,
              $baseline: $headline-baseline,
              $font-size: 6,
              $line-height: 6,
              $leading-top: 6,
              $leading-bottom: 2
      );
    }
    @include breakpoint($desktop) {
      @include plumber(
              $grid-height: $base-grid-height,
              $baseline: $headline-baseline,
              $font-size: 8,
              $line-height: 10,
              $leading-top: 5,
              $leading-bottom: 2
      );
    }
  }
}
