<div class="one-three-one center white">
    <div class="footer-contact-us second-item" id="contact">
        <h1 class="block white margin-bottom">CONTACT JUNIPER STUDIO</h1>
        <div>Jeff Petersen</br>
            <strong>913 461 4672</strong><br/>jeff@juniperstudio.com
        </div>
        <div><!-- <a href="little-green-notebook.html">Juniper Studio's Little Green Notebook</a> --></div>
        <br/>
        &copy; 2018 Juniper Stuido
        <div><a href="https://www.instagram.com/juniperstudio_com/">Juniper Studio on Instagram</a> | <a
                href="https://www.linkedin.com/company/juniper-studio/">Juniper-Studio on LinkedIn</a> | <a
                href="https://www.pinterest.com/juniper_studio/">Juniper Studio on Pinterest</a>
        </div>
        <div><a href="http://github.com/jeffwpetersen">Jeff W. Petersen on Github</a></div>
    </div>
</div>
<div class="hidden">
    <a href="http://juniperstudio.com/MF/index.html">Morgenthal Frederics Site Design</a><a
        href="http://juniperstudio.com/bradleymaterewicz.com/index.html">bradley Materewicz Site
    Design</a><a href="http://juniperstudio.com/toywatch/jelly_shop.html">ToyWatch Site Design</a>
</div>
