<head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>{{page.title}} | Juniper Studio Web Development</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="apple-touch-icon image_src" href="/apple-icon.png">
    <meta name="description" content="Juniper Studio is the design firm of Jeff W Petersen who makes thoughtful, modern, personal and functional websites and furniture for you and your family.">
    <meta name="author" content="Juniper-Studio">
    <link rel="canonical" href="http://juniperstudio.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{page.title}}  + Juniper Studio" />
    <meta property="og:url" content="http://juniperstudio.com/" />
    <meta property="og:site_name" content="Design - Build - Development - Juniper Studio" />
    <meta name="revisit-after" content="1 days">

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- fav -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>