<div class="grid-item">

    <h1 class="triple-space margin-top">Web Development + Design</h1>
    <p class="brand-statement double-space gray-3 h4-size">We design, build, develop and consult. If you're in need of <span class="black">design
                management</span> or <span class="black">web development</span><strong> get in touch and let us know what problems
        we can solve.</strong><br>
        <strong class="black">We Do That.</strong></p>
    <!-- <p class="brand-statement double-space gray-3">We also build custom furniture + interiors. Check out our store at <a href="http://juniperstudio-home.com">Juniper Studio Home</a></p> -->

    <div><p class="contact-us"><strong><a href="#contact" class="scroll">Contact us.</a></strong></p></div>
</div>