<div class="gray-6 project-folder">
    <h2 class="pink lighter">Projects Folder</h2>
    <div class="half-space">
        <p class="lighter"><span class="pink"><a href="#juniperstudiohome" class="scroll">Juniper Stuido Home</a></span>
            Handmade Unique Furniture For Your Home
        </p>
        <p class="lighter"><span class="pink"><a href="http://pendergastkc.org">The Pendergast Years</a></span>
            Kansas City in the Jazz Age & Great Depression.
        </p>
        <p class="lighter"><span class="pink"><a class="scroll" href="#composthero">Compost Hero</a></span> -
            The Compost Hero
            is the easy way to turn your garden
            leaves into high quality compost mulch.</p>
        <p class="lighter"><span class="pink"><a href="http://kclibrary.org"><a class="scroll" href="#kclibrary">The Kansas City Public Library</a></a></span>
            - The KCPL website has been
            remodeled and is now responsive. Patrons of the library can now easily access the library website
            from their mobile devices. We migrated this site from Drupal 6 and gave it an organizational update.
        </p>
        <p class="lighter"><span class="pink">Sub70 Golf Apparel</span> - A young brand of golf-ware is bringing British style
            to the US golf scene.</p>
        <p class="lighter"><span class="pink">ToyWatch</span> - They brought you the original white plastic submariner knock
            off. Back in the day it was one of Oprah's favorite things. </p>
        <p class="lighter"><span class="pink"><a href="/portfolio/MF/index.html">Morgenthal Frederics</a></span> - We have built websites for the iconic luxury
            eye-ware brand.</p>
        <!--
        <p><span class="pink">Olde Westport Spice</span> - A family company that has been in the Kansas City
            area since the early eighties. They bring you high quality soups and spice blends.</p> -->
    </div>
</div>